#about-section {
    padding-top: calc(8.5vw + 100px);
    margin-bottom: 100px;
}

#footer-section {
    background-color: #fff;
}

#about-title {
    font-family: "SF Pro Bold";
    font-size: calc(3vw + 20px);
    color: #000;
    padding-left: 10vw;
}

#about-text {
    font-family: "SF Pro Medium";
    font-size: calc(1.2rem + 0.3vw);
    color: #000;
    margin-left: 10vw;
    margin-top: 100px;
    margin-right: 10vw;
    margin-bottom: 100px;
}

.hero-action-a {
    margin-left: 10vw;
}

.col {
    padding: 0px;
}

