#projects-heading-row {
    text-align: center;
    padding-top: 20vw;
    padding-bottom: 50px;
}

#projects-heading {
    font-family: "SF Pro Bold";
    font-size: calc(2.5vw + 25px);;
}

.project {
    background-color: #F2F2F2;
    border-radius: 10px;
    margin: 20px;
    padding-bottom: 20px;
    max-width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(calc(-50% - 20px));
}

.project-header {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #000;
    height: 32px;
    padding-left: 20px;
}

.project-header-nav {
    display: inline-block;
    background-color: #ffffff;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    transform: translateY(25%);
}

.project-content {
    margin: 20px;
    width: calc(100% - 40px);
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 0px;
}

.project-img-div {
    border-bottom: 2px solid #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: 20px;
}

.project-img {
    width: 100%;
}

.project-body {
    padding: 20px;
}

.project-text {
    font-family: "SF Pro Medium";
    font-size: calc(1.2rem + 0.3vw);
}