#start-section {
    padding-top: calc(8.5vw + 100px);
}

#footer-section {
    background-color: #fff;
}

#start-title {
    font-family: "SF Pro Bold";
    font-size: calc(3vw + 20px);
    color: #000;
    padding-left: 10vw;
}

#start-form {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 100px;
    margin-bottom: 100px;
}

.col {
    padding: 0px;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    background-color: #000;
    color: #ffffff;
}